AddDefaultCharset utf-8
RewriteEngine on
RewriteBase /

ErrorDocument 404 /error.php
ErrorDocument 403 /error.php
ErrorDocument 402 /error.php

DirectoryIndex rulles.php

RewriteRule ^([^.]+)$ rulles.php

